<!DOCTYPE html>
<html>
  <head>
    <!-- Page Meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Christian Townsend</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ress.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">

    <!-- Font Imports -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Raleway:400,400i,700">
  </head>
  <body>
    <div id="app"></div>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
