/* Colors */
$main: #334;
$copy: #6A727D;
$bg: #ffffff;
$highlight: #F5516B;
$highlight: #1BC2E3;

/* Variables */
$aside_width: 500px;
$aside_padding: 3em;

/* Mixins */
@mixin transition($time, $subject:"all") {
  -webkit-transition: unquote($subject) $time cubic-bezier(.25,.8,.25,1);
  -moz-transition:    unquote($subject) $time cubic-bezier(.25,.8,.25,1);
  transition:         unquote($subject) $time cubic-bezier(.25,.8,.25,1);
}

/* Base Styles */
body {
  font-family: 'Raleway', sans-serif;
  background-color: $bg;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.container {
  width: 860px;
  max-width: 85%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Raleway', sans-serif;
  color: $main;
}

p {
  color: $copy;
}

/* Sidebar Styles */
#me {
  position: fixed;
  top: $aside_padding;
  left: $aside_padding;
  width: $aside_width;

  .name {
    font-weight: 700;
    font-size: 5em;
  }

  hr {
    width: 3em;
    margin: 3em 0;
    height: 2px;
    border: 0;
    background-color: lighten($copy, 35%);
  }

  .about {
    font-size: 1.1em;
    line-height: 1.4;
  }

  .contact {
    margin-top: 2.2em;

    h3 {
      margin-bottom: 1em;
    }

    a {
      color: $highlight;
      display: table;
      font-weight: 700;
      letter-spacing: 1px;
      text-decoration: none;
      //margin-left: 10px;
      margin: 0 0 15px 10px;

      &:hover {
        color: lighten($highlight, 10%);
      }
    }

    .info {
      display: inline-block;
      padding: .2em 0;
      font-size: 1.2em;
      border-bottom: 1px solid lighten($copy, 35%);
      margin-bottom: .2em;
    }

    .tag {
      display: block;
      font-size: 1em;
      font-weight: 700;
      color: $highlight;
      margin-bottom: 1em;
    }
  }
}

/* Content Styles */
#projects {
  width: calc(100% - (#{$aside_width} + (#{$aside_padding} * 2)));
  margin-left: calc(#{$aside_width} + (#{$aside_padding} * 2));

  .project {
    position: relative;
    height: 480px;
    overflow: hidden;
    z-index: 0;
    @include transition(.5s, box-shadow)

    &:hover {
      z-index: 1;
      box-shadow: 0 0px 40px rgba(0,0,0,0.4), 0 0px 18px rgba(0,0,0,0.32);
    }

    .info {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      padding: 0 3em;
      background: transparentize(#50cfda, .25);
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      .title {
        font-size: 4em;
        color: #fff;
        width: 100%;
        text-align: center;
      }
    }

    .cover-image {
      position: absolute;
      z-index: 0;
      max-width: 100%;
      min-height: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

    &.blue { .info { background: transparentize(#50cfda, .25); } }
    &.red { .info { background: transparentize(#f65959, .25); } }
    &.orange { .info { background: transparentize(#f6b559, .18); } }

    // Not decided on yet
    &.green { .info { background: transparentize(#50cfda, .25); } }
    &.pink { .info { background: transparentize(#50cfda, .25); } }
    &.purple { .info { background: transparentize(#50cfda, .25); } }
  }

  #new-post {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    @include transition(.5s)
    width: 100%;
    height: 120px;
    background: #ddd;

    &:hover {
      z-index: 2;
      box-shadow: 0 0px 40px rgba(0,0,0,0.4), 0 0px 18px rgba(0,0,0,0.32);
    }

    &:active {
      background: #cecece;
    }

    &:focus, &:active {
      outline: none;
    }
  }
}

#post {

  .header {
    width: 100%;
    height: 480px;
    background: $highlight;
    padding: 0 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    .buttons {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      top: 0;
      padding: 1em;

      button, a {
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        padding: 1em;
        font-weight: 700;
        letter-spacing: 1px;
        color: transparentize(#fff, .4);

        &:hover {
          color: transparentize(#fff, .2);
        }

        &:focus {
          outline: none;
        }
      }
    }

    .title {
      display: inline-block;
      font-family: 'Montserrat', 'Raleway', sans-serif;
      text-align: center;
      font-weight: 700;
      font-size: 5em;
      color: #fff;

      &:focus {
        outline: none;
      }
    }
  }

  main {
    padding-top: 2em;
    font-size: 20px;

    .public-DraftEditor-content {
      padding-bottom: 5em;

      h1, h2, h3, h4, h5, h6 {
        text-indent: -5px;

        span[data-text="true"] {
          color: $main;
        }
      }

      h1 {
        font-size: 3em;
        margin: 28px 0;
      }
      h2 {
        font-size: 2.25em;
        margin: 26px 0;
      }
      h3 {
        font-size: 1.5em;
        margin: 24px 0;
      }

      div[data-block="true"] {
        margin: 20px 0;

        span[data-text="true"] {
          color: $copy;
        }
      }

      blockquote {
        border-left: 4px solid #bbb;
        padding: 1em;
      }

      pre[data-block="true"] {
        padding: 1em;
        overflow-x: auto;
        background: #ececec;
      }

    }

    .public-DraftEditorPlaceholder-root {
      position: absolute;
      pointer-events: none;
      font-weight: 700;
      letter-spacing: 1px;
      color: #bbb;
    }

    .public-DraftEditorPlaceholder-hasFocus {
      display: none;
    }

    .controls {
      padding-bottom: 2em;
      margin-bottom: 2em;
      border-bottom: 2px solid #ccc;

      .style-button {
        color: #bbb;
        font-weight: 700;
        margin: .2em .8em .2em 0em;

        &:hover {
          color: #999;
        }

        &.active {
          color: $highlight;
        }
      }
    }

  }
}
