$main: #343945;
$copy: #535763;
$accent: #E8205C;

body * {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-size: 16px;
  color: $copy
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, strong {
  color: $main;
}

a {
  text-decoration: underline;
  color: $accent;
}

.container {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;

  .title {
    font-size: 2.4em;
    text-decoration: none;

    h1 {
      margin: 0;
    }
  }

  .nav {
    .divider {
      font-size: 1.1em;
      margin-right: 2em;
      color: #ccc;
    }

    .nav-item {
      cursor: pointer;
      background: none;
      outline: none;
      border: none;
      text-decoration: none;
      font-size: 1.05em;
      font-weight: 700;
      font-style: normal;
      color: $copy;
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: $accent;
      }
    }
  }
}

.post {
  position: relative;
  display: flex;
  padding: 3em 0;
  border-bottom: 1px solid #ccc;

  .post-link {
    text-decoration: none;
    color: inherit;
    display: inherit;
  }

  .image-container {
    flex-shrink: 0;
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 2px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
    }
  }

  .content {
    padding: 20px;

    .title {
      margin: 0;
    }
  }

  .meta {
    position: absolute;
    right: 0;
    align-self: flex-end;

    p {
      margin: 0;
    }

    a {
      font-weight: 700;
      color: $main
    }
  }
}

.post-content {
  .title {
    font-size: 3em;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;

    .title-input {
      text-align: center;
      letter-spacing: 1px;
      color: &copy;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .rich-editor {
    font-size: 1.2em;
  }

  .controls {
    margin-bottom: 30px;
    color: #aaa;
    padding: 15px 10px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;

    .style-button {
      font-size: 1.1em;
      margin: 0px 10px 5px 0px;

      &.active {
        color: dodgerblue;
      }
    }
  }

  .DraftEditor-root {

    div[data-block=true] {
      margin: 0;
      margin-bottom: 4px;
    }

    blockquote[data-block=true] {
      padding: 15px;
      border-left: 4px solid #ccc;
    }

    pre.public-DraftStyleDefault-pre {
      padding: 15px;
      background: #efefef;
    }

    ul, ol {
      margin-left: 2em;
    }

    .public-DraftEditorPlaceholder-root {
      position: absolute;
      pointer-events: none;
      font-style: italic;
      color: #aaa;

      &.public-DraftEditorPlaceholder-hasFocus {
        color: #ccc;
      }
    }
  }
}
